<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>customers</title>
</head>

<body>
<h1>List of customers</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td>
            <a th:href="@{'/customers/'+ ${customer.id}}" th:text="${customer.name}">Name</a>
        </td>
        <td th:text="${customer.city}">City</td>
    </tbody>
</table>
<hr/>
</body>
</html>